* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    padding: 5px 9px;
}

form textarea {
    resize: none;
}